<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speicific Post in Detail</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <h3>Here is your post in detail</h3>

    <p>Username :<b><%=post.username%></b></p>
    <p>Post Id : <%=post.id%></p>
    <p>Caption : <%=post.content%></p>
    <p>Post image : <img src="<%=post.img%>" ></p>
    <p>Publish Date : <%=post.date%></p>

</body>
</html>